<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Running successfully</title>
</head>

<body>
    <h1>Welcome to the text analyzer</h1>
    <form action='/home2' method='get'>
        <textarea name='grabbed' style='width: 1913px; height: 276px;'></textarea>
        <input type="checkbox" name="removepunc">Remove Punc <br>
        <button type='submit'>analyze text</button>


    </form>

</body>

</html>